{{>header/main}}
<header class="content-header">
    <h2><span class="icono-personalize"></span> Personalizar</h2>
</header>

{{#saveSuccess}}<p class="result-bar result-success">La personalización se guardó correctamente.</p>{{/saveSuccess}}


<form method="post" action="{{url}}personalize/save">
    {{#useTabs}}
    <section class="content-tabs">
        <ul class="tabs-bar no-list">
            {{#tabs}}
            <li {{#isSelected}}class="tab-selected"{{/isSelected}} data-tab="{{key}}">
                {{value}}
            </li>
            {{/tabs}}
        </ul>
        <div class="tabs-selector"></div>
    </section>

    {{#tabs}}
    <section class="content-body tabs-content {{#isSelected}}tabs-show{{/isSelected}}" data-tab="{{key}}">
        <ol class="ordered-list ordered-two-cols">
            {{#options}}
            {{>common/option}}
            {{/options}}
        </ol>
    </section>
    {{/tabs}}
    {{/useTabs}}


    {{^useTabs}}
    <section class="content-body">
        <ol class="ordered-list ordered-two-cols">
            {{#options}}
            {{#title}}
            <li class="list-title">
                <h3>{{title}}</h3>
            </li>
            {{/title}}
            {{>common/option}}
            {{/options}}
        </ol>
    </section>
    {{/useTabs}}


    <footer class="content-footer">
        <button class="btn btn-primary">Guardar</button>
    </footer>
    <input type="hidden" name="subsection" value="" class="subsection" />
</form>
{{>footer/main}}
