{{>header/main}}
<header class="content-header">
    <h2><span class="icono-slides"></span> Banners</h2>
    {{#tabs}}
    <a href="{{url}}slides/create/{{key}}"
        class="btn btn-primary tabs-content {{#isSelected}}tabs-show{{/isSelected}}"
        data-tab="{{key}}"
    >Crear</a>
    {{/tabs}}
</header>

{{#deleteSuccess}}<p class="result-bar result-success">El banner fue eliminado correctamente.</p>{{/deleteSuccess}}


{{#useTabs}}
<section class="content-tabs">
    <ul class="tabs-bar no-list">
        {{#tabs}}
        <li {{#isSelected}}class="tab-selected"{{/isSelected}} data-tab="{{key}}">
            {{value}}
        </li>
        {{/tabs}}
    </ul>
    <div class="tabs-selector"></div>
</section>
{{/useTabs}}


{{#lists}}
<section class="content-table tabs-content {{#isSelected}}tabs-show{{/isSelected}}" data-tab="{{key}}">
    {{#hasList}}
    <div class="table-overflow">
        <table class="table-container table-list">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th>Estado</th>
                    <th class="align-center">Posición</th>
                </tr>
            </thead>
            <tbody>
                {{#list}}
                <tr>
                    <td><a href="{{url}}slides/{{slideID}}" class="link link-main">#{{slideID}}</a></td>
                    <td class="table-list-hide table-image">
                        <img src="{{imageThumb}}" alt="{{name}}" />
                    </td>
                    <td>{{name}}</td>
                    <td>{{{statusName}}}</td>
                    <td class="table-list-secondary align-center">{{position}}</td>
                </tr>
                {{/list}}
            </tbody>
        </table>
    </div>
    {{/hasList}}
    {{^hasList}}<p class="table-none">No hay banners disponibles.</p>{{/hasList}}
</section>
{{/lists}}

{{>footer/main}}
