{{#showHeader}}
{{>common/loader}}

<header class="topbar">
    <div class="topbar-title">
        <a href="#" class="icono icono-menu topbar-menu"></a>
        <h1>{{siteName}}</h1>
    </div>
    <div class="topbar-user">
        <a href="{{url}}session/view" class="link link-white topbar-username">{{{userName}}}</a>
        <a href="#" class="logout mainbar-baricon icono icono-logout"></a>
    </div>
</header>

<div class="sidebar">
    <nav class="mainbar">
        <div className="mainbar-topnav">
            <ol class="mainbar-subnav no-list">
                <li>
                    <a href="{{siteUrl}}" class="mainbar-baricon icono icono-home" target="_blank" data-noajax="1"></a>
                </li>
            </ol>
        </div>
        <ol class="mainbar-subnav no-list">
            <li>
                <a href="#" class="logout mainbar-baricon icono-logout"></a>
            </li>
            <li>
                <a href="{{url}}session/view" class="mainbar-avatar">
                    <img alt="{{userName}}" src="{{userAvatar}}" />
                </a>
            </li>
        </ol>
    </nav>
    <nav class="subbar">
        <h1>{{siteName}}</h1>
        <ol class="sidebar-menu no-list">
            {{#menuItems}}
            <li>
                <a href="{{url}}{{menuUrl}}" class="{{#isMenuSel}}{{menuKey}}{{/isMenuSel}}" data-menu="{{menuKey}}">
                    <span class="icon-{{menuIcon}}"></span>
                    <span class="main-text">{{menuName}}</span>
                </a>
                {{#hasSubmenu}}
                <ol class="sub-nav">
                    {{#subItems}}
                    <li><a href="{{url}}{{subUrl}}" class="{{#isSubSel}}{{subKey}}{{/isSubSel}}" data-sub="{{subKey}}">{{subName}}</a></li>
                    {{/subItems}}
                </ol>
                {{/hasSubmenu}}
            </li>
            {{/menuItems}}

            <li>
                <a href="{{url}}media" class="{{#isMenuSel}}media{{/isMenuSel}}" data-menu="media">
                    <span class="icono icono-media"></span>
                    <span class="main-text">Media</span>
                </a>
            </li>
            {{#hasAdminAccess}}
            <li>
                <a href="{{url}}users" class="{{#isMenuSel}}users{{/isMenuSel}}" data-menu="users">
                    <span class="icono icono-user"></span>
                    <span class="main-text">Usuarios</span>
                </a>
            </li>
            {{/hasAdminAccess}}
        </ol>
    </nav>
</div>

<div class="content-container">
    <div class="content-wrapper">
{{/showHeader}}

{{#isFrame}}
<div class="content-frame">
{{/isFrame}}
