{{>header/main}}
<header class="content-header">
    <h2><span class="icono-contact"></span> Contactos</h2>
</header>

{{#deleteSuccess}}<p class="result-bar result-success">El contacto fue eliminado correctamente.</p>{{/deleteSuccess}}


<section class="content-table">
    {{#hasList}}
    <div class="table-overflow">
        <table class="{{tableClasses}}">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Fecha</th>
                    <th>Nombre</th>
                    {{#hasSubject}}<th>Asunto</th>{{/hasSubject}}
                    <th>Email</th>
                    <th>Teléfono</th>
                </tr>
            </thead>
            <tbody>
                {{#list}}
                <tr>
                    <td><a href="{{url}}contacts/{{contactID}}{{query}}" class="link link-main">#{{contactID}}</a></td>
                    <td>{{createdTimeFull}}</td>
                    <td class="table-list-secondary">{{name}}</td>
                    {{#hasSubject}}<td class="table-list-secondary">{{subject}}</td>{{/hasSubject}}
                    <td class="table-list-tertiary">{{email}}</td>
                    <td class="table-list-tertiary">{{phone}}</td>
                </tr>
                {{/list}}
            </tbody>
        </table>
    </div>
    {{>common/pagination}}
    {{/hasList}}
    {{^hasList}}<p class="table-none">No hay contactos disponibles.</p>{{/hasList}}
</section>
{{>footer/main}}
