{{>header/main}}
<header class="content-header">
    <h2><span class="icono-media"></span> Media</h2>
    <div class="content-actions">
        <input class="media-filter" type="text" name="search" placeholder="Filtrar archivos" autocomplete="off" />
        <a href="{{url}}media/create{{#query}}{{query}}&{{/query}}{{^query}}?{{/query}}path={{path}}" class="btn btn-primary"
        data-prompt="Nombre del direcotrio" data-title="Crear" data-key="name">
            Crear Directorio
        </a>
        {{#canResize}}
        <a href="{{url}}media/resize" class="btn btn-primary">Redimensionar</a>
        {{/canResize}}
    </div>
</header>


{{#createNameError}}<p class="result-bar result-error">Debe indicar el nombre del directorio.</p>{{/createNameError}}
{{#createExistsError}}<p class="result-bar result-error">Ya existe un archivo/directorio con ese nombre.</p>{{/createExistsError}}
{{#createError}}<p class="result-bar result-error">Ocurrió un error al crear el directorio indicado.</p>{{/createError}}
{{#createSuccess}}<p class="result-bar result-success">El directorio se creó correctamente.</p>{{/createSuccess}}

{{#uploadEmptyError}}<p class="result-bar result-error">Debe indicar un archivo para subir.</p>{{/uploadEmptyError}}
{{#uploadSizeError}}<p class="result-bar result-error">El archivo es demasiado grande.</p>{{/uploadSizeError}}
{{#uploadExistsError}}<p class="result-bar result-error">Ya existe un archivo con ese nombre.</p>{{/uploadExistsError}}
{{#uploadError}}<p class="result-bar result-error">Ocurrió al subir el archivo.</p>{{/uploadError}}
{{#uploadSuccess}}<p class="result-bar result-success">El archivo se subió correctamente.</p>{{/uploadSuccess}}

{{#renameOldNameError}}<p class="result-bar result-error">Debe indicar el archivo/directorio para renombrar.</p>{{/renameOldNameError}}
{{#renameNewNameError}}<p class="result-bar result-error">Debe indicar el nuevo nombre del archivo.</p>{{/renameNewNameError}}
{{#renameOldExistsError}}<p class="result-bar result-error">No existe el archivo/directorio indicado.</p>{{/renameOldExistsError}}
{{#renameNewExistsError}}<p class="result-bar result-error">Ya existe un archivo/directorio con el nuevo nombre.</p>{{/renameNewExistsError}}
{{#renameError}}<p class="result-bar result-error">Ocurrió un error al renombrar el archivo/directorio indicado.</p>{{/renameError}}
{{#renameSuccess}}<p class="result-bar result-success">El archivo/directorio se renombró correctamente.</p>{{/renameSuccess}}

{{#deleteConfirmError}}<p class="result-bar result-error">Debe confirmar la eliminación del archivo/directorio.</p>{{/deleteConfirmError}}
{{#deleteNameError}}<p class="result-bar result-error">Debe indicar el archivo/directorio para eliminar.</p>{{/deleteNameError}}
{{#deleteExistsError}}<p class="result-bar result-error">No existe el archivo/directorio indicado.</p>{{/deleteExistsError}}
{{#deleteError}}<p class="result-bar result-error">Ocurrió un error al eliminar el archivo/directorio indicado.</p>{{/deleteError}}
{{#deleteSuccess}}<p class="result-bar result-success">El archivo/directorio se eliminó correctamente.</p>{{/deleteSuccess}}


<secion class="dropzone">
    <div class="dropzone-drop">
        Arrastra los archivos aquí para subirlos
    </div>
    <div class="dropzone-upload">
        <h3>Arrastra archivos a cualquier lugar para subirlos</h3>
        <p>ó</p>
        <h3>Haz click para seleccionar archivos</h3>
    </div>
    <input
        type="file"
        class="dropzone-input"
        data-href="{{url}}media/upload{{query}}"
        data-path="{{path}}"
        multiple
    />
</secion>

<secion class="files">
    <div class="dropzone-file" style="display:none">
        <h3>Subiendo: <span class="dropzone-name"></span></h3>
        <progress class="dropzone-progress" value="0" max="100" style="width:300px;"></progress>
        <p class="dropzone-status"></p>
    </div>
</secion>


<section class="media-list">
    {{#files}}
    <div class="media-item {{^isBack}}media-has-actions{{/isBack}} {{#isSelected}}media-selected{{/isSelected}}">
        {{#isBack}}
        <a href="{{url}}media{{route}}{{query}}" class="media-icon">
            <span class="icono-back"></span>
        </a>
        {{/isBack}}

        {{#isDir}}
        <a href="{{url}}media{{route}}{{query}}" class="media-icon">
            <span class="icono-folder"></span>
        </a>
        {{/isDir}}

        {{#isImage}}
        {{^isSelect}}
        <a href="{{source}}" class="media-image {{#isTransparent}}media-transparent{{/isTransparent}} fancybox" rel="media-image" title="{{name}}">
            <img src="{{thumb}}" alt="{{name}}" />
        </a>
        {{/isSelect}}
        {{#isSelect}}
        <div class="media-image media-sel {{#isTransparent}}media-transparent{{/isTransparent}}"
            data-url="{{source}}"
            data-path="{{value}}"
            data-name="{{name}}"
        >
            <img src="{{thumb}}" alt="{{name}}" />
        </div>
        {{/isSelect}}
        {{/isImage}}

        {{#isFile}}
        <div
            class="media-icon {{#canSelect}}media-sel{{/canSelect}}"
            data-url="{{source}}"
            data-path="{{value}}"
            data-name="{{name}}"
        >
            <span class="icono-{{icon}}"></span>
        </div>
        {{/isFile}}

        <div class="media-name">{{name}}</div>

        {{^isBack}}
        <div class="media-actions">
            {{#isDir}}
            <a href="{{url}}media{{route}}{{query}}">
                <span class="icono icono-view"></span>
            </a>
            {{/isDir}}
            {{#isImage}}
            <a href="{{source}}" class="fancybox" rel="media-view" title="{{name}}">
                <span class="icono icono-view"></span>
            </a>
            {{/isImage}}
            <a href="{{url}}media/rename{{#query}}{{query}}&{{/query}}{{^query}}?{{/query}}path={{path}}&oldName={{name}}"
                data-prompt="Nombre del archivo"
                data-title="Renombrar"
                data-key="newName"
                data-value="{{name}}"
            >
                <span class="icono icono-edit"></span>
            </a>
            <a href="{{url}}media/delete{{#query}}{{query}}&{{/query}}{{^query}}?{{/query}}path={{path}}&name={{name}}"
                {{#isDir}}data-confirm="¿Realmente desea eliminar el directorio y todo su contenido?"{{/isDir}}
                {{^isDir}}data-confirm="¿Realmente desea eliminar el archivo?"{{/isDir}}
                data-title="Eliminar"
            >
                <span class="icono-delete"></span>
            </a>
        </div>
        {{/isBack}}
    </div>
    {{/files}}
</section>
{{>footer/main}}
