/**
 * Grid System
 */
.grid {
    display: flex;
}
.grid-field {
    flex-grow: 2;
    padding-right: 10px;
}
.grid-field p {
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: bold;
    color: #676767;
}
.grid-button {
    flex-shrink: 0;
    padding-top: 21px;
}


.grid-gap {
    padding-right: 20px;
}
.grid-icon-gap {
    padding-right: 60px;
}
.grid-bottom.grid-bottom.grid-bottom {
    padding-top: 21px;
}

.grid-95.grid-95 { width: 95%;    }
.grid-90.grid-90 { width: 90%;    }
.grid-85.grid-85 { width: 85%;    }
.grid-80.grid-80 { width: 80%;    }
.grid-75.grid-75 { width: 75%;    }
.grid-70.grid-70 { width: 70%;    }
.grid-66.grid-66 { width: 66.66%; }
.grid-65.grid-65 { width: 65%;    }
.grid-60.grid-60 { width: 60%;    }
.grid-55.grid-55 { width: 55%;    }
.grid-50.grid-50 { width: 50%;    }
.grid-45.grid-45 { width: 45%;    }
.grid-40.grid-40 { width: 40%;    }
.grid-35.grid-35 { width: 35%;    }
.grid-33.grid-33 { width: 33.33%; }
.grid-30.grid-30 { width: 30%;    }
.grid-25.grid-25 { width: 25%;    }
.grid-22.grid-22 { width: 22.5%;  }
.grid-20.grid-20 { width: 20%;    }
.grid-15.grid-15 { width: 15%;    }
.grid-10.grid-10 { width: 10%;    }
.grid-5.grid-5   { width: 5%;     }



/**
 * Widths
 */
.full-width.full-width {
    width: 100%;
    box-sizing: border-box;
}
.half-width.half-width {
    display: inline-block;
    width: 49%;
    box-sizing: border-box;
}
.half-width ~ .half-width {
    margin-left: 2%;
}



/**
 * Media Queries
 */
@media screen and (max-width: 500px) {
    .grid {
        display: block;
    }
    .grid-field {
        display: block;
        width: 100%;
        padding: 0 0 16px 0;
    }
    .grid-button {
        width: 100%;
        padding-top: 0;
    }
    .grid-bottom.grid-bottom.grid-bottom {
        padding-top: 0;
    }
}
  